@{
    ViewData["Title"] = "About Me";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="display-4 pull-left">Hey! I'm glad you're here!</h1>
            <p>I am a graduate of Florida Polytechnic University with a Bachelors in Computer Science.</p>
            <p>I hope you are enjyoing my website project as much as I have enjoyed learning it. It uses <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>
            with the help of <a href="https://www.packtpub.com/mobile/c-8-0-and-net-core-3-0-modern-cross-platform-development-fourth-edition">this book</a>.</p>
        </div>
        <div class="col-sm-4">
            <img class="avatar pull-right" style="margin: auto;" src="https://avatars3.githubusercontent.com/u/25494200?s=460&u=2b5eb63322bd0bbdd3947b6211557c6dfdce272b&v=4" alt="This is me!">
        </div>        
    </div>
</div>
